{% extends 'base.html'  %}


{% block header %}

    <style>
        .mp-container{
            display: flex;
            width: 100%;
        }
        .profile-image{
            width: 100%;
            height:auto;

        }
        .mp-profile > p{
            margin: 0;
        }
        .mp-profile{
            width: 100%;
        }
        .mp-lnav{
            position: absolute;
            height:auto;
            left: 0;
            width: 30%;
            margin-left: 5%;
            margin-top: 30px;
        }

        .mp-content{
            margin: 30px 5% 0px 40%;
            height: auto;
            width: 79%;
        }


    </style>

{% endblock %}

{% block content %}


<div class="mp-container">
    <div class="mp-lnav">

        <div class="mp-profile">
            <img src="static/2023.jpg" class="profile-image"/>

            <p><i> Github:<a href="https://github.com/jiachenlei"> https://github.com/jiachenlei</a></i></p>
            <p><i> Email: jiachenlei@zju.edu.cn </i></p>
            <div style="height:20px"></div>
            <p> Currently I am seeking  <b>available Ph.D. position</b>, feel free to reach out to me if you would like to discuss potential opportunities.</p>

        </div>

    </div>

    <div class="mp-content">
        {{ intro|safe }}
    </div>

</div>


{% endblock %}